* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #424242;
}
ul {
  list-style: none;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}
.app {
  overflow: hidden;
}
.container {
  max-width: 1078px;
  padding: 0 15px;
  margin: 0 auto;
}

// Login

.login {
  height: 100vh;
  background: url("./assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    height: 382px;
    width: 409px;
    padding: 32px;
    background: #fff;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    position: relative;
    z-index: 3;
  }
  &__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 32px;
  }
}

.login-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
  }
  &__input {
    padding: 16px;
    height: 50px;
    margin-bottom: 7px;
    border: 1px solid #c9cacc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
  }
  &__error {
    font-size: 12px;
    color: #eb1717;
    min-height: 20px;
  }
}

.input-error {
  color: #eb1717;
  border-color: #eb1717;
}

// Button
.button {
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.9;
  }
}

.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
}

//page
.page {
  background: #f4f4f4;
  padding-bottom: 26px;
}

.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
  }
  &__btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522e;
    position: relative;
    margin-right: 15px;
    &::after {
      content: url("../src/assets/icons/logout.svg");
      position: absolute;
      top: 50%;
      transform: translateY(-47%);
      right: -30px;
    }
  }
}

.main {
  display: flex;
}

.sidebar {
  width: 360px;
  margin-right: 24px;
}

.search {
  height: 410px;
  padding: 32px;
  background: #fff;
  margin-bottom: 24px;
  border-radius: 16px;
  &__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    position: relative;
    &:nth-child(2)::before {
      content: url("../src/assets/icons/calendar.svg");
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }
  &__section-date {
    position: relative;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
  }
  &__input {
    width: 100%;
    padding: 16px;
    height: 50px;
    margin-bottom: 7px;
    border: 1px solid #c9cacc;
    border-radius: 4px;
    font-size: 16px;
  }
  &__button {
    margin-top: 32px;
  }
}

.calendar {
  position: absolute;
  z-index: 10;
  top: 26px;
  &-hidden {
    display: none;
  }
}

.favourites {
  max-height: 468px;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

// favorite
.favorite {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 12px;
  border-bottom: 1px solid #e7e7e7;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__title {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
  }
  &__like {
    cursor: pointer;
  }
  &__middle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    margin-bottom: 4px;
    color: #878787;
  }
  &__date {
    margin-right: 15px;
  }
  &__days {
    margin-left: 15px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__rate {
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    display: flex;
    color: #878787;
  }
  &__price {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-left: 12px;
    color: #424242;
  }
}

.stars {
  display: flex;
  & img {
    margin-right: 3px;
  }
}

// filter
.filter {
  display: flex;
  margin-bottom: 17px;
  user-select: none;
  &__item {
    margin-right: 8px;
    padding: 4px 8px;
    width: 89px;
    height: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #99a0a3;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  &__item-active {
    border: 1px solid #41522e;
    color: #41522e;
  }
  &__price::before {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 5%;
  }
  &__price::after {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    right: 10px;
    top: 30%;
  }
  &__price-up::before {
    content: url("./assets/icons/upActive.svg");
    position: absolute;
    right: 10px;
    top: 5%;
  }
  &__price-up::after {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    right: 10px;
    top: 30%;
  }
  &__price-down::before {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 5%;
  }
  &__price-down::after {
    content: url("./assets/icons/upActive.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 30%;
  }
  &__rating::before {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 5%;
  }
  &__rating::after {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    right: 10px;
    top: 30%;
  }
  &__rating-up::before {
    content: url("./assets/icons/upActive.svg");
    position: absolute;
    right: 10px;
    top: 5%;
  }
  &__rating-up::after {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    right: 10px;
    top: 30%;
  }
  &__rating-down::before {
    content: url("./assets/icons/downDisabled.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 5%;
  }
  &__rating-down::after {
    content: url("./assets/icons/upActive.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 10px;
    top: 30%;
  }
}

// content
.content {
  width: 664px;
  max-height: 902px;
  padding: 50px 32px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-right: 48px;
    position: relative;
    &::after {
      content: url("../src/assets/icons/arrow.svg");
      position: absolute;
      right: -30px;
    }
  }
  &__where {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }
  &__date {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #41522e;
    margin-left: auto;
  }
  &__favour {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 21px;
  }
  &__favour-b {
    font-weight: 500;
    color: #41522e;
    margin-left: 8px;
  }
}

// Slider

.carousel {
  max-height: 164px;
  margin-bottom: 28px;
  cursor: pointer;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.hotels {
  display: flex;
  flex-direction: column;
}

.hotel {
  margin-bottom: 4px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  & .favorite {
    border-bottom: none;
    padding-left: 24px;
  }
  &__icon {
    height: 64px;
    width: 64px;
    background-color: #f5f6f4;
    border-radius: 50%;
    position: relative;
  }
  &__icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__info {
    width: 100%;
  }
}
